.Reading{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    .readingContent{
        position: relative;
        padding: 20px;
        top: 155px;
        text-align: center;
    }

}